name: demo_valorant
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter
  equatable: ^2.0.8
  get_it: ^9.2.0
  flutter_bloc: ^9.1.1

  cupertino_icons: ^1.0.8

  demo_system_design:
    git:
      url: https://github.com/Pizzars/demo_system_design.git
      ref: main

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true


  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg